<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <h1>Productos</h1>
    <div class="container">
      <div class="row">
        {% for producto in productos %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
            <div class="card-body">
                <p class="card-text">
                    <img width="100" height="100" src="https://www.hp.com/content/dam/sites/worldwide/personal-computers/consumer/laptops-and-2-in-1s/new/bf-updates/media@2x1.jpg" alt="" srcset="">
                    
                </p>
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <p class="card-text">{{ producto.descripcion }}</p>
              
              <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>